@charset "utf-8";html,body{height:100%}html{font-size:62.5%;font-family:"微软雅黑"}body{-webkit-box-sizing:border-box;background:#d9ffd9;color:#000000;-webkit-user-select:none;-webkit-tap-highlight-color:rgba(0,0,0,0);-webkit-tap-highlight-color:transparent;-webkit-overflow-scrolling:touch;-webkit-user-select:none;-webkit-touch-callout:none}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,form,fieldset,input,textarea,p,blockquote,th,td,button,article,aside,details,figcaption,figure,footer,header,nav,section{margin:0;padding:0}body,button,input,select,textarea,p,article,span{line-height:2rem}h1,h2,h3,h4,h5,h6{font-weight:normal;line-height:3rem}html,body,form,fieldset,p,div,h1,h2,h3,h4,h5,h6{-webkit-text-size-adjust:none}input[type="button"],input[type="reset"],input[type="submit"]{cursor:pointer;-webkit-appearance:button}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;-webkit-appearance:none}input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button{height:auto}input[type="search"]{-webkit-box-sizing:content-box;box-sizing:content-box;-webkit-appearance:textfield}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}input::-ms-clear{display:none}textarea{resize:none;-webkit-appearance:none}a:focus,input:focus{-webkit-tap-highlight-color:rgba(0,0,0,0);-webkit-user-modify:read-write-plaintext-only}a,a:hover{text-decoration:none}a:active,a:hover{text-decoration:none}a{background:transparent}a,img{-webkit-touch-callout:none}fieldset,img{border:none}img,video{max-width:100%}strong{font-weight:normal}em,i{font-style:normal}table{border-collapse:collapse;border-spacing:0}th{text-align:inherit}caption,th{text-align:left}audio,canvas,progress,video{display:inline-block;vertical-align:baseline}audio:not([controls]){display:none;height:0}del{text-decoration:line-through}ol,ul{list-style:none}sub,sup{position:relative;vertical-align:baseline;font-size:75%;line-height:0}sup{top:-0.5em}sub{bottom:-0.25em}.clearfix:before,.clearfix:after{display:table;content:""}.clearfix:after{clear:both;overflow:hidden}.clearfix{zoom:1}.clear{clear:both;display:block;overflow:hidden;height:0;font-size:0;line-height:0}.hide{display:none}.block,.show{display:block}.fl{float:left;display:inline}.fr{float:right;display:inline}.tac{text-align:center}.tal{text-align:left}.tar{text-align:right}.dib{display:inline-block}.vab{vertical-align:bottom}.vam{vertical-align:middle}.vat{vertical-align:top}.box{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;height:100%}.grid,.wrap,.grid:after,.wrap:after,.grid:before,.wrap:before{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}.grid{*zoom:1}.grid:before,.grid:after{display:table;content:"";line-height:0}.grid:after{clear:both}.grid{margin:0;padding:0;list-style-type:none}.grid>.grid{float:left;clear:none;margin:0 !important}.col{display:-webkit-box;display:flex;display:-webkit-flex;height:100%;-webkit-box-orient:vertical;flex-direction:column}.row{display:-webkit-flex;display:flex;display:-webkit-box;margin:auto;width:100%;height:auto;-webkit-flex-wrap:wrap;flex-wrap:wrap;flex-direction:wrap;-webkit-box-orient:horizontal;-webkit-box-lines:multiple}.flex1{-webkit-box-flex:1;-webkit-flex:1;flex:1}.flex2{-webkit-box-flex:2;-webkit-flex:2;flex:2}.flex3{-webkit-box-flex:3;-webkit-flex:3;flex:3}
/*ios上使用transform的时候的闪屏问题可以尝试使用
.transform{-webkit-transform-style:preserve-3d;-webkit-backface-visibility:hidden;}
*/
/*1rem=10px */
/*字体自适应*/
/*比如说你在320px分辨率时,设置字体大小为1.2rem时,现在在不同宽度都可以看上去一样大小实现自适应.*/
/*设计师是以iphone6为设计标准时,16px=100%,每个断点以2px递增页面最小的字体大小(6.25%=1px)*/
h1{font-size:2.8rem;}
h2{font-size:2.6rem;}
h3{font-size:2.2rem;}
@media only screen and (min-width:360px) and (max-width:374px){
	/*三星大屏幕机最低宽度:note2-note3,S2-S4:14px*/
	html{font-size:87.5% !important;}
}
@media only screen and (min-width:375px) and (max-width:430px) {
	/*Iphone6,Iphone6plus最低宽度:16px*/
	html{font-size:100% !important;}
}
/*手机横屏:最低宽度480px:18px*/
@media only screen and (min-width:480px) and (max-width:740px) and (orientation:landscape){
	html{font-size:112.5% !important;}
}
/*平板电脑:最低宽度768px:20px*/
@media only screen and (min-width:768px) {
	html{font-size:125% !important;}
}
/*单行文本控制换行:在哪个点开始进行换行是由宽度来决定的*/
.outL{white-space:normal;word-break:break-all;width:100%;}
/*单行文本控制溢出(显示....):注意设置宽度*/
.outH{overflow:hidden;text-overflow:ellipsis;white-space:nowrap;width:50%;}
/*多行文本溢出显示省略号(...)的方法------webkit-line-clamp:2;这里的数字代表多少行*/
.ellipsis{overflow:hidden;text-overflow:ellipsis;display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;}
input[type="button"],input[type="reset"],input[type="submit"],a:focus,a:active,a:hover,input:focus,textarea:focus{outline:none}
input::-webkit-input-placeholder{color:#FFA500}
textarea::-webkit-input-placeholder{color:#FFA500}
input::-webkit-input-speech-button{display:none}
input:focus,textarea:focus{border:1px solid #f60;}

/*容器*/
.wrapper{position:absolute;top:0;right:0;bottom:0;left:0;padding-bottom:60px;overflow:auto;-webkit-overflow-scrolling:touch;}
/*头尾*/
header,footer{position:fixed;right:0;left:0;z-index:1;text-align:center;background:#CCCCCC;}
header{top:0;height:44px;}
footer{bottom:0;}

/*宽度*/
.wrap{float:left;width:100%}
.w100p{width:100%}
.w20p{width:20%;}

/*边距*/
.m5{margin:5px;}
.p5{padding:5px;}
.flexcontent{margin:5px 1px;-webkit-flex:1;flex:1;-webkit-box-flex:1;background:hotpink;}

/* 页面背景图,需要注意问题:
1,该图片看设计师做的图片大小,不然做手机的怎么可能会在PC上浏览清晰呢? 
2,利用好background-size:100% 100%;就可以让整个背景图都正确的展示到页面上.
*/
body{background:url('../img/back.jpg') no-repeat;background-size:100% 100%;}
/* 页面背景图 */

/* 手机断点 */
/*min-device-width或max-device-width指的是设备整个渲染区宽度(设备的实际最大或最小宽度),
用了它可能在某些安卓机无法调用到下面的样式,因为某部分安卓机的屏幕大小不一致.*/
/*iphone4等屏幕高度480px的解决方案*/
@media only screen and (max-device-height:480px) {
	
}
/*iphone5以上的屏幕高度解决方案*/
@media only screen and (min-device-height:481px) {
	
}

@media only screen and (min-width:360px) and (max-width:374px){
	/*三星大屏幕机最低宽度:note2-note3,S2-S4*/

}
@media only screen and (min-width:375px) and (max-width:430px) {
	/*Iphone6 plus,红米等大屏幕手机*/

}

/*手机横屏:orientation:landscape*/
@media only screen and (min-width:480px) and (max-width:569px) and (orientation:landscape) {
/*小米1,1s,iphone4,4s,5,5s等屏幕横屏宽度断点*/
}
@media only screen and (min-width:570px) and (max-width:640px) and (orientation:landscape){
/*三星,红米等手机屏幕横屏宽度断点*/
}
@media only screen and (min-width:641px) and (max-width:667px) and (orientation:landscape) {
/*Iphone6横屏宽度断点*/
}
@media only screen and (min-width:736px) and (max-width:767px) and (orientation:landscape){
/*Iphone6 plus横屏宽度断点*/
}

@media all and (orientation:landscape) {  
 /*这里是指所有屏幕横屏时*/
}  


/*平板和电脑:最低宽度768px*/
@media only screen and (min-width:768px) and (max-width: 959px) {

}
@media only screen and (min-width:960px) and (max-width:1024px) {

}
@media only screen and (min-width:1025px)and (max-width:1536px) {

}






